<?xml version='1.0' encoding='utf-8'?>

<Server port="-1" shutdown="SHUTDOWN">
  <Listener className="org.apache.catalina.startup.VersionLoggerListener" />
  <Listener className="org.apache.catalina.core.AprLifecycleListener" SSLEngine="on" />
  <Listener className="org.apache.catalina.core.JasperListener" />
  <Listener className="org.apache.catalina.core.JreMemoryLeakPreventionListener" />
  <Listener className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener" />
  <Listener className="org.apache.catalina.core.ThreadLocalLeakPreventionListener" />

  <GlobalNamingResources>
    <Resource name="UserDatabase" auth="Container"
              type="org.apache.catalina.UserDatabase"
              description="User database that can be updated and saved"
              factory="org.apache.catalina.users.MemoryUserDatabaseFactory"
              pathname="conf/tomcat-users.xml" />
  </GlobalNamingResources>

  <Service name="Catalina">

             <!-- acceptCount="2000" -->
    <Connector port="8080" protocol="HTTP/1.1"
               acceptCount="1024"
               minSpareThreads="50"
               maxThreads="1020"
               connectionTimeout="20000"
               redirectPort="8443"
               enableLookups="false"
               useBodyEncodingForURI="true"
               URIEncoding="UTF-8" />

    <Engine name="Catalina" defaultHost="localhost">
      <Realm className="org.apache.catalina.realm.LockOutRealm">
        <Realm className="org.apache.catalina.realm.UserDatabaseRealm"
               resourceName="UserDatabase"/>
      </Realm>

      <!-- No.2 default root is CATALINA_BASE of appBase -->
      <Host name="localhost"  appBase="apps"
            unpackWARs="true" autoDeploy="true" workDir="vars/wrk">

        <!-- No.1 default root is appBase of docBase -->
        <!-- Context path="/apps" docBase="../../apps" reloadable="flase"/ -->

        <!-- No.3 default root is appBase of docBase for ROOT -->
        <Context path="" docBase="../vars/wap/ROOT"/>

        <Valve className="org.apache.catalina.valves.AccessLogValve" directory="logs"
               prefix="localhost_access_log." suffix=".txt"
               pattern="%h %l %u %t &quot;%r&quot; %s %b" />

      </Host>
    </Engine>
  </Service>
</Server>
